body {
  text-align: center;
}

p {
  width: 75%;
  margin: 80px auto;
  border: 1px solid lightgrey;
  padding: 10px;
  text-align: justify;
}

h1 , p
{
  font-family: cursive;
}

h1
{
  font-size: 50px;
}

span
{
  font-size: 20px;
  font-family: serif;
  font-weight: 600;
}
